<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

{% if page.comments %}
<aside class="comments related" role="complementary">
<h2 class="hr">{{ site.data.strings.comments | default:"Comments" }}</h2>
  <!-- {% include my-comments.html %} -->
  <div id="git_thread"></div>
</aside>

<!-- 加载gitalk -->
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: '{{site.gitalk_clientid}}',
    clientSecret: '{{site.gitalk_secret}}',
    repo: '{{site.gitalk_repo}}',
    owner: '{{site.gitalk_owner}}',
    admin:'{{site.gitalk_admin}}',
    id: location.pathname,     
    distractionFreeMode: '{{site.gitalk_dfm}}'  
  })
  gitalk.render('git_thread')
</script>
{% endif %}
