
{% if page.comments %}
<aside class="comments related" role="complementary">
<h2 class="hr">{{ site.data.strings.comments | default:"Comments" }}</h2>
  <!-- {% include my-comments.html %} -->
  <div id="git_thread"></div>
</aside>

<!-- 加载gitalk -->
<link rel="stylesheet" href="/assets/css/gitalk.css">
<script src="/assets/js/gitalk.min.js"></script>
<!-- Gitalk 评论 start  -->
<div id="gitalk-container"></div>
    <script type="text/javascript">
    var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: `1e3ecd59274587087a72`,
        clientSecret: `341d36b5e98c8844089259539a2cff2477d572f2`,
        repo: `Alfred-Alan.github.io`,
        owner: 'Alfred-Alan',
        admin: ['Alfred-Alan'],
        id: title,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50
    
    });
    gitalk.render('gitalk-container');
    </script>
<!-- Gitalk end -->

{% endif %}
