{% assign disqus = site.disqus | default:site.disqus_shortname %}
{% assign gitalk = site.gitalk | default:site.gitalk %}
{% assign valine = site.valine | default:site.valine %}

{% if disqus %}
<!-- <div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script>!function(w, d) {
  if (d.getElementById("disqus_thread")) {
    if (w.DISQUS) {
      w.DISQUS.reset({
        reload: true,
        config() {
          this.page.url = w.location.href;
          this.page.title = d.title;
        },
      });
    } else {
      w.disqus_config = function disqusConfig() {
        this.page.url = w.location.href;
        this.page.title = d.title;
      };
      w.loadJSDeferred(d.getElementById("_hrefDisqus").href + '/embed.js');
    }
  }
}(window, document);</script> -->
<!-- 
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://alfred-alan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

<!-- <script type="text/javascript" src="/assets/js/iDisqus.min.js"></script>  
<link rel="stylesheet" type="text/css" href="/assets/css/iDisqus.min.css" />

<div id="comment"></div>
<script type="text/javascript">
  var disq = new iDisqus('comment', {
      forum: 'alfred-alan',
      api: 'https://www.alfred-alan.online/disqus/',
      site: 'https://www.alfred-alan.online/',
      url: location.pathname,
      mode: 3,
      timeout: 2000,
      init: true,
    });
  disq.count();
</script> -->

{% endif %}

{% if gitalk.enable %}
  <div id="git_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script src="/assets/js/md5.min.js"></script>

  <div id="gitalk-container" style="padding-bottom: 30px;"></div>
  <script>
    var gitalk_obj = new Gitalk({
        clientID: '{{gitalk.clientId}}', 
        clientSecret: '{{gitalk.clientSecret}}', 
        repo: '{{gitalk.repo}}',      
        owner: '{{gitalk.username}}',         
        admin: ['{{gitalk.username}}'],        
        id: md5(location.pathname),      
        title: document.title,
        body:  '文章链接：'+ decodeURIComponent(location.origin+location.pathname),
        adminUser: '{{gitalk.username}}', 
        distractionFreeMode: true, 
        proxy: '/github/login/oauth/access_token' // 新添加的
    });
    gitalk_obj.render('gitalk-container');    
  </script>

{% endif %}

{% if valine.enable %}
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script src='//cdn1.lncld.net/static/js/3.0.4/av-min.js'></script>
<script src='/assets/js/valine_comment.js'></script>
  <div id="valinecomments"></div>
  <script>

    (function(history){
        var pushState = history.pushState;
        history.pushState = function(state) {
          
          // YOUR CUSTOM HOOK / FUNCTION
          // render_valine();
          const url = arguments[2]
          res=url.match(/.*?([\d]{4}-[\d]{1,2}-[\d]{1,2}).*?/);
          if (res){
            render_valine();
          }
          return pushState.apply(history, arguments);
        };
    })(window.history);

    window.onload = function(){
      render_valine();
    }
    function render_valine() {
      window.setTimeout(function(){
        var request = new XMLHttpRequest();
        request.open("get", "/assets/js/emoji.json");
        request.send(null);
        request.onload = function () {
          if (request.status == 200) {
            new Valine({
              el: '#valinecomments',
              app_id: '{{valine.app_id}}',
              app_key: '{{valine.app_key}}',
              placeholder: '{{valine.placeholder}}',
              avatar: '{{valine.avatar}}',
              pageSize: {{valine.pageSize | defalut:10}},
              recordIP:  {{valine.recordIP}},
              requiredFields: ['nick', 'mail'],
              /* 设置Bilibili表情包地址*/
              emojiCDN: '//i0.hdslb.com/bfs/emote/', 
              /* 表情title和图片映射*/
              emojiMaps: JSON.parse(request.responseText)
            });
          }
        }
      },1);
    }
  </script>
{% endif %}